{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static "building_info.css" %}">
    {% include 'header.html' with title=building.spell title2="관" to='main:building_list' %}
    <div class="building-info-page">
        <div class="building-header">
            <h2>{{ building.name }}({{ building.spell }}관)</h2>
            <div class="small info">{{ building.location }}</div>
            {% include "Main/info_header.html" with obj=building %}
        </div>
        <div class="building-body">
            <div class="facility-container container">

                <div class="container-title">
                    <h3>세부 시설</h3>
                    <a class="primary-btn" href="{% url "reserve:facility_list" building.id %}">시설 예약하기</a>
                </div>
                <div class="facility-list">
                    {% if facilities %}
                        {% for facility in facilities %}
                            <a class="facility-item item" href="{% url "main:facility_info" facility.id %}">
                                <div class="main">
                                    <div class="label">
                                        {{ facility.name }} |
                                        {{ facility.location }}
                                    </div>
                                    <div class="star">
                                        <span class="color-primary">★</span>
                                        {{ facility.star }}
                                    </div>
                                </div>
                                <div class="chevron">
                                    <svg width="11" height="22" viewBox="0 0 11 22" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.5 1.5L9.5 11L1.5 20.5" stroke="#A6A6A6" stroke-width="2"
                                              stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>

                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                        <div class="no-data">
                            세부시설 정보가 없습니다.
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="review-container container">
                <div class="container-title">
                    <h3>학생 리뷰</h3>
                </div>
                {% include "Review/review_create.html" with to="review:createBuildingReview" now="main:building_info" obj_id=building.id %}
                {% include "Review/review_list.html" %}
            </div>
        </div>

    </div>

{% endblock %}