{# 회원가입 템플릿 #}
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static "signup.css" %}">
    <div class="background"></div>
    <div class="signup-page">
        <h2 class="">회원가입</h2>
        <form action="{% url 'user:signup' %}" method="post" class="post-form">
            {% csrf_token %}
            <div class="loginContainer">
                <div>이메일*</div>
                <input type="text" name="email" autocomplete="off">
            </div>
            <div class="loginContainer">
                <div>이름*</div>
                <input type="text" name="username" autocomplete="off">
            </div>
            <div class="loginContainer">
                <div>비밀번호*</div>
                <input type="password" name="password1" autocomplete="off">
            </div>
            <div class="loginContainer">
                <div>비밀번호 확인*</div>
                <input type="password" name="password2" autocomplete="off">
            </div>
            <div class="loginContainer">
                <div>학번(8자리)*</div>
                <input type="number" min="0" max="99999999" name="std_id" autocomplete="off">
            </div>
            <div class="loginContainer">
                <div>학부*</div>
                <input type="text" name="college" autocomplete="off">
            </div>
            <div class="loginContainer">
                <div>전공</div>
                <input type="text" name="major" autocomplete="off">
            </div>


            {% include "form_errors.html" %}
            <button type="submit" class="submit-btn">회원가입</button>
        </form>
    </div>
{% endblock %}